@media screen and (max-width: 576px) {
  header {
    nav {
      border: 2px solid red;
    }

    .hero-image {
      border: 3px solid red;
      //   width: 200px;
      //   overflow: hidden;
      img {
        display: none;
      }
      img:last-of-type {
        display: block;
      }
    }
  }
}
